.footer_global_container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50px 50px;
    gap: 10%;
    background-color: black;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 99%;

}
.left_footer{
    float: left;

}
.right_footer{
    float: right;

}
.footer_container{
    text-align: center;
    background-color: gray;
    color: azure;
    padding: 2%;
}